<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="error-text">
        <h1 class="error">404 Error</h1>
        <h3>Oops! This page Could Not Be Found!</h3>
        <h4>Sorry bit the page you are looking for does not exist, have been removed or name changed.</h4>
        <button [routerLink]="'/'" class="btn btn-secondary">Back to Home Page</button>
        <div class="show-conversation">
          <div class="im-white-stork">
            <div class="top">
              <div class="im-neck"></div>
              <div class="im-feather">
              </div>
              <div class="im-body"></div>
              <div class="im-beak"></div>

              <div class="im-head">
                <div class="im-eye">
                  <div class="im-pupil"></div>
                </div>
              </div>
            </div>
            <div class="im-legs">
              <div class="im-leg-right">
                <div class="im-thigh-right"></div>
                <div class="im-shin-right"></div>
                <div class="im-foot-right"></div>
              </div>
              <div class="im-leg-left">
                <div class="im-thigh-left"></div>
                <div class="im-shin-left"></div>
                <div class="im-foot-left"></div>
              </div>
            </div>
          </div>
        <div class="box2 sb11">Oh hello there ! Are You Lost?</div>
        </div>
      </div>
    </div>
  </div>
</div>
