<div class="container">
  <div class="row home-head">
    <div class="col-md-6">
      <div class="welcome">
        <h5>Welcome to NameOfTheSite</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="date">
        <h5>{{formattedDate}}</h5>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7 top-slider">
      <div class="small-subtitle">
        Last news :
      </div>
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div *ngIf="lastNewsOf[0] as activeNews">
                <img [src]="imagePath + activeNews.images[0].url" class="d-block w-100" [alt]="activeNews.images[0].name"
                     [@click]="imageLink(activeNews._id)">
                <div class="carousel-caption">
                  <div class="jumbotron jumbotron-fluid">
                    <h6 class="small-title"><a [routerLink]="['/News/',activeNews._id]">{{activeNews.title}}</a></h6>
                    <hr class="my-4">
                    <div class="col-md-6 time">
                      <img [src]="imagePath + '3db1694066484887659b421cb616f720.png'" [alt]="'clock'" class="clock">{{activeNews.date}}
                    </div>
                  </div>
                  <p>{{activeNews.keywords[0]}}</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div *ngIf="lastNewsOf[1] as activeNews">
                <img [src]="imagePath + activeNews.images[0].url" class="d-block w-100" [alt]="activeNews.images[0].name">
                <div class="carousel-caption">
                  <div class="jumbotron jumbotron-fluid">
                    <h1 class="small-title"><a [routerLink]="['/News/',activeNews._id]">{{activeNews.title}}</a></h1>
                    <hr class="my-4">
                    <div class="col-md-6 time">
                      <img [src]="imagePath + '3db1694066484887659b421cb616f720.png'" [alt]="'clock'" class="clock">{{activeNews.date}}
                    </div>
                  </div>
                  <p>{{activeNews.keywords[0]}}</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div *ngIf="lastNewsOf[2] as activeNews">
                <img [src]="imagePath + activeNews.images[0].url" class="d-block w-100" [alt]="activeNews.images[0].name">
                <div class="carousel-caption">
                  <div class="jumbotron">
                    <h1 class="small-title"><a [routerLink]="['/News/',activeNews._id]">{{activeNews.title}}</a></h1>
                    <hr class="my-4">
                    <div class="col-md-6 time">
                      <img [src]="imagePath + '3db1694066484887659b421cb616f720.png'" [alt]="'clock'" class="clock">{{activeNews.date}}
                    </div>
                  </div>
                  <p>{{activeNews.keywords[0]}}</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div *ngIf="lastNewsOf[3] as activeNews">
                <img [src]="imagePath + activeNews.images[0].url" class="d-block w-100" [alt]="activeNews.images[0].name">
                <div class="carousel-caption">
                  <div class="jumbotron">
                    <h1 class="small-title"><a [routerLink]="['/News/',activeNews._id]">{{activeNews.title}}</a></h1>
                    <hr class="my-4">
                    <div class="col-md-6 time">
                      <img [src]="imagePath + '3db1694066484887659b421cb616f720.png'" [alt]="'clock'" class="clock">{{activeNews.date}}
                    </div>
                  </div>
                  <p>{{activeNews.keywords[0]}}</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div>
</div>
