<div class="container">
  <img class="image01" [src]="imagePath + 'a914a0b3bf0f46db66660cf346a9985a.jpg'" alt="alytus_drone">
  <hr>
  <div class="about">
    <div class="title">
    <h1>About us</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="image02" [src]="imagePath + 'a914a0b3bf0f46db66660cf346a9985a.jpg'" alt="alytus_drone">
      </div>
      <div class="col-md-6">
        <div class="sub-title">
        <h2> Who we are </h2>
        </div>
        <div class="content-left">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas cursus sodales mi, pellentesque maximus lacus euismod in.
            Phasellus vitae tempus tortor. Pellentesque efficitur massa id turpis lobortis, sed condimentum tellus efficitur.
            Morbi non ligula a ipsum fringilla faucibus. Ut mauris nisi, iaculis ac velit id, placerat placerat nunc. Nulla pharetra nulla in hendrerit dictum.
            Proin in sem eu erat congue fringilla eget sit amet elit. Curabitur posuere fermentum diam, interdum commodo odio mollis sit amet.
            Ut laoreet convallis erat vitae pulvinar. Nullam ullamcorper nunc et elit cursus hendrerit.
            Aliquam molestie ligula sem, malesuada aliquam nisl lacinia sed.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
