<div class="container">
  <img class="image01" [src]="imagePath + 'a914a0b3bf0f46db66660cf346a9985a.jpg'" alt="alytus_drone">
  <hr>
  <div class="about">
    <div class="title">
      <h1>About us</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card-pad">
          <div class="card" style="width:80%;max-width:400px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; left:10%;">
            <img class="image02" [src]="imagePath + '13bd15a57a0c51f480bbbe9468a42afb.jpg'" alt="alytus_drone">
            <div class="cardcontainer">
              <p>Image Description</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="sub-title">
          <h2> Who we are </h2>
        </div>
        <div class="content-left">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas cursus sodales mi, pellentesque maximus lacus euismod in.
            Phasellus vitae tempus tortor. Pellentesque efficitur massa id turpis lobortis, sed condimentum tellus efficitur.
            Morbi non ligula a ipsum fringilla faucibus. Ut mauris nisi, iaculis ac velit id, placerat placerat nunc. Nulla pharetra nulla in hendrerit dictum.
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="sub-title">
          <h2> What we do </h2>
        </div>
        <div class="content-right">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas cursus sodales mi, pellentesque maximus lacus euismod in.
            Phasellus vitae tempus tortor. Pellentesque efficitur massa id turpis lobortis, sed condimentum tellus efficitur.
            Morbi non ligula a ipsum fringilla faucibus. Ut mauris nisi, iaculis ac velit id, placerat placerat nunc.
            Nulla pharetra nulla in hendrerit dictum.
            Mauris magna nulla, aliquam ut mauris ullamcorper, tincidunt tempor lacus. Maecenas vel hendrerit augue.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-pad">
          <div class="card" style="width:80%;max-width:400px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; left:10%;">
            <img class="image02" [src]="imagePath + '2b466ff327245e8f105fa73308368734.jpg'" alt="alytus_drone">
            <div class="cardcontainer">
              <p>Image Description</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card-pad">
          <div class="card" style="width:80%;max-width:400px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; left:10%;">
            <img class="image02" [src]="imagePath + '7c51acb6baa64a8911d7589235cfbfb1.jpg'" alt="alytus_drone">
            <div class="cardcontainer">
              <p>Image Description</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="sub-title">
          <h2> What we serve </h2>
        </div>
        <div class="content-left">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas cursus sodales mi, pellentesque maximus lacus euismod in.
            Phasellus vitae tempus tortor. Pellentesque efficitur massa id turpis lobortis, sed condimentum tellus efficitur.
            Morbi non ligula a ipsum fringilla faucibus. Ut mauris nisi, iaculis ac velit id, placerat placerat nunc. Nulla pharetra nulla in hendrerit dictum.
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="sub-title">
          <h2> What we offer</h2>
        </div>
        <div class="content-right">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas cursus sodales mi, pellentesque maximus lacus euismod in.
            Phasellus vitae tempus tortor. Pellentesque efficitur massa id turpis lobortis, sed condimentum tellus efficitur.
            Morbi non ligula a ipsum fringilla faucibus. Ut mauris nisi, iaculis ac velit id, placerat placerat nunc.
            Nulla pharetra nulla in hendrerit dictum.
            Mauris magna nulla, aliquam ut mauris ullamcorper, tincidunt tempor lacus. Maecenas vel hendrerit augue.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-pad">
          <div class="card" style="width:80%;max-width:400px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; left:10%;">
            <img class="image02" [src]="imagePath + '5937d005833374cedfef55afa342768f.jpg'" alt="alytus_drone">
            <div class="cardcontainer">
              <p>Image Description</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1> Contact Us </h1>
        </div>
        <div class="contact">
          <form [formGroup]="sendMailForm" #formDirective="ngForm" (submit)="sendMail(formDirective)">
            <!-- Regex for title is : [A-Z][a-z A-Z ,><;:?.\!\"\'-\_\`\@\(\)\[\]\{\}\$\£\*\+\= 1-9\n\&]+ -->
            <div class="form-mail">
            <p>
              <mat-form-field  appearance="legacy" class="field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Full Name" required>
                <mat-hint class="some-color">text</mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field  appearance="legacy" class="field">
                <mat-label>Mail</mat-label>
                <input matInput formControlName="mail" placeholder="Your Mail" required>
                <mat-hint class="some-color">text</mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field  appearance="legacy" class="field">
                <mat-label>Subject</mat-label>
                <input matInput formControlName="subject" placeholder="Subject" required>
                <mat-hint class="some-color">text</mat-hint>
              </mat-form-field>
            </p>
            <div class="editor">
                <app-ngx-editor  [placeholder]="'Content...'" [spellcheck]="true" formControlName="content"></app-ngx-editor>
            </div>
          </div>
            <div class="send">
            <button type="submit" class="btn btn-outline-success" style="width: 50%">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{sendMailForm.value | json}}
</div>
