<div class="mx-auto w-auto bg-white text-black-50">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 18%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" [routerLink]="'/news'">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="'/news/type/buildings'">Buildings</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="'/news/type/politics'">Politics</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="'/news/type/business'">Business</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="'/news/type/sports'">Sports</a> </li>
      </ul>
    </div>
  </nav>
</div>
