mgl-map {
  width: 100%;
  height: 500px;
  /*!*height: auto;*!*/
  /*height: 400px;*/
  /*max-height: 800px;*/
  display: block
}

.mapboxgl-canvas {
  width: 100%;
}

.marker {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
