.navbar-nav {
  float:none;
  margin:0 auto;
  text-align: center;
}

.navbar-nav > li {
  float:none;
}

.image-small {
  width: 25px;
  height: 25px;
}

#rc_logo a {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 100px;
  height: 40px;
}

.footer {
  background-color: #898989;
}

.footer-container {
  vertical-align: center;
}
.hr-vertically {
  border:         none;
  border-left:    1px solid hsl(357, 100%, 27%);
  height:         20px;
  width:          2px;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
