<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" [src]="imagePath+'9d5adb412081444fc25f9b9cc1993a33.png'" alt="alytus"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav navbar-center" align="center">
        <li class="nav-item">
        <a [routerLink]="'/Account'" class="nav-link">
          <img [src]="imagePath + '5b2e7abca514e361f73d528ec2038ff3.png'"  class="image-small">
          Sign in
        </a>
        </li>
        <li class="nav-item">
        <a [routerLink]="'/'" class="nav-link">
         Home
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/News'" class="nav-link">
          News
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/Forums'" class="nav-link">
          Forums
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/Tourism'" class="nav-link">
          Tourism
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'AboutUs'" class="nav-link">
          Aboutus
        </a>
      </li>
      <li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      </li>
      </ul>
       </div>
    </div>
</nav>
<ng2-slim-loading-bar color="red"></ng2-slim-loading-bar>

<router-outlet></router-outlet>
